<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/UxXXow9095I.jpg)">
  <div class="container">
    <h1><strong> Hit the road with style</strong></h1>
    <p><em>Rent the car of your dreams</em></p>
    <a class="btn btn-gradient" href="<%= cars_path %>">Rent now</a>
  </div>
</div>

<div class="container">
  <h3> Our favorite rented cars </h3>
  <div class="cards">

 <% @cars.sample(3).each do |car|%>
    <div class="card-trip">
      <img src="https://source.unsplash.com/N9Pf2J656aQ" class="card-img-top" alt="car">
        <div class="card-trip-infos">
          <div class="card-trip-infos-top">
            <h2><%=car.brand_name + ' ' + car.model%></h2>
            <div>
              <ul>
                <li><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i></li>
              </ul>
            </div>
          </div>
          <p class="card-text text-ellipsis--2"> <%=car.overview%></p>
          <a href="<%= car_path(car) %>" class="btn btn-primary w-100 mt-3">Rent for <strong><%=car.price%>€</strong>/day</a>
        </div>
      </div>
    <% end%>
  </div>
</div>
