<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/UxXXow9095I.jpg)">
  <div class="container">
    <h1><strong><span data-controller="typed-js"></span></strong></h1>
    <%# <p><em>Rent the car of your dreams</em></p> %>
    <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find the car of your dreams" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container mb-5">
  <h3> Our favorite rented cars </h3>
  <div class="cards">

 <% @cars.sample(3).each do |car|%>
    <div class="card-trip">
      <%= cl_image_tag car.photo.key, class:"card-img-top", alt:"car" %>
        <div class="card-trip-infos">
          <div class="card-trip-infos-top">
            <div>
            <h2><%=car.brand_name%></h2>
            </div>
            <div class="justify-content-end">
              <ul>
                <li><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i></li>
              </ul>
            </div>
          </div>
          <p class="card-text text-ellipsis--2"> <%=car.overview%></p>
          <a href="<%= car_path(car) %>" class="btn btn-primary w-100 mt-3">Rent for <strong><%=car.price%>€</strong>/day</a>
        </div>
      </div>
    <% end%>
  </div>
</div>
