<div class="container" >
  <div class="row my-5">
      <div class="d-flex justify-content-top pb-5 align-items-center">
        <h1 class="ps-3">Hello <%= current_user.name %></h2>
      </div>
    <div class="col-4">
      <div>
        <h2>Your cars</h2>
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2>Car 1</h2>
              <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
          </div>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Rent your car
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">My car</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for @car do |f| %>
                  <div class="form-inputs">
                    <%= f.input :brand_name %>
                    <%= f.input :seats %>
                    <%= f.input :city %>
                    <%= f.input :overview %>
                    <%= f.input :price %>
                    <%= f.input :photo, as: :file %>
                  </div>
                  <div class="form-actions">
                  <%= f.button :submit, "Create", class: "btn btn-dark w-100 rounded"%>
                  </div>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="col-4 border-end border-start border-dark border-1">
      <div>
          <h2>Your bookings</h2>

            <h6 class="title">Pending</h6>
            <% @current_bookings.each do |booking| %>
              <%= render 'cars/car_card', car: booking.car, booking: booking %>
            <% end %>


            <h6 class="title">Coming</h6>
            <% @future_bookings.each do |booking| %>
              <%= render 'cars/car_card', car: booking.car, booking: booking %>
            <% end %>


             <h6 class="title">Past</h6>
             <% @past_bookings.each do |booking| %>
                    <%= render 'cars/car_card', car: booking.car, booking: booking %>
             <% end %>
        </div>
    </div>

    <div class="col-4" >

      <h2>Your requests</h2>
      <% @current_requests.each do |request| %>
        <%= render 'requests', request: request %>
      <% end %>



      <div class="notification d-flex justify-content-between align-items-center">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-bordered" width:40 height:40 />
        <div class="ps-3 notification-content">
          <%# <p><small>14th January</small></p> %>
          <p class="mb-0"><em>"Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit."</em></p>
        </div>

        <div class="notification-actions d-flex">
          <a href="#"><i class="fas fa-check me-2"></i></a>
          <a href="#"><i class="far fa-trash-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
