<div class="card-product">
  <%= cl_image_tag(car.photo.key) %>
  <div class="card-product-infos p-3 d-flex justify-content-between align-items-center w-100">
    <div>
      <h2><%= car.brand_name %></h2>
      <p class="m-0"><%= booking.start_rent %> | <%= booking.end_rent %></p>
    </div>
    <div class="notification-actions d-flex">
      <%=link_to "âœï¸", car_path(car), class:"me-2" %>
      <%=link_to "ðŸ—‘", booking_path(booking),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
  </div>
</div>


<%# ,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
