<h1 class= "text-center mt-4 mb-4"><strong>Choose your dream car !</strong></h1>

<div class="container mb-4 w-50">
    <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control me-3", placeholder: "Find the car of your dreams" %>
      <%= submit_tag "Search", class: "btn btn-primary btn-search" %>
    <% end %>
</div>

<div class="main-container">
  <div class="cards-index">
    <% @cars.each do |car|%>
      <div class="card-trip">
        <%= cl_image_tag car.photo.key, class:"card-img-top", alt:"car" %>
        <%# <%= image_tag car.picture %>
        <div class="card-trip-infos" id="card-index">
          <div class="card-trip-infos-top">
            <h2><%=car.brand_name%></h2>
            <div>
              <ul>
                <li><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i></li>
              </ul>
            </div>
          </div>

          <p class="card-text text-ellipsis--2"> <%=car.overview%></p>

          <a href="<%= car_path(car.id) %>" class="btn btn-primary w-100 mt-3">Rent for <strong><%=car.price%>€</strong>/day</a>
        </div>
      </div>
    <% end%>


  </div>
    <div id="the-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
