<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">

      <div class="card-trip-infos-top">
        <div class="mb-2">
          <h1><%=@car.brand_name%></h1>
        </div>
        <div>
          <ul>
            <li><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i><i class="fa-solid fa-star mt-3"></i></li>
          </ul>
        </div>
      </div>

      <div class="card-trip">
        <%= cl_image_tag @car.photo.key, class:"card-img-top", alt:"car" %>
        <%# <%= image_tag car.picture %>
      </div>

      <div class="card-trip-infos mt-4">
        <div class= "description mt-3 d-flex justify-content-between">
        <p>Description</p>
        <p><%= @car.city%></p>
        </div>

        <p class="card-text text-muted"> <%=@car.overview%></p>
        <div style="margin-bottom: 50px;">
          <a href="<%= cars_path %>" >Back to the cars</a>
        </div>
      </div>
    </div>

    <div class="form col-sm-4 mt-2 sticky">
      <h2><%= @car.price %> € / per day </h2>
      <div data-controller="flatpickr">
        <%= simple_form_for [@car, @booking],
                            html: {
                              data: {
                                controller: 'flatpickr'
                              }
                            } do |f| %>
                            <div class="d-flex flex-column">
          <%= f.input :start_rent,
                      label: 'From:',
                      as: :string,
                      # label: 'Start - End',
                      input_html: {
                        data: {
                          flatpickr_target: 'startDateInput',
                        }
                      } %>
          <%= f.input :end_rent,
                      label: 'To:',
                      as: :string,
                      # wrapper_html: { class: 'd-none' },
                      input_html: {
                        data: {
                          flatpickr_target: 'endDateInput',
                        }
                      } %>
          <%= f.input :message  %>
          <%= f.submit 'Book now!', class: 'btn btn-primary align-self-center' %>
                          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
